---
layout: default
title: Blog index
---
asdf
 <nav id="paginationx">
    <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
  </nav>

{{ site.time | date_to_xmlschema }}
{{ paginator.previous_page }}
{{ paginator.next }}

<nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
    
    {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %} 
  </nav>